<!DOCTYPE html>
<html>
  <head>
    <title>CerialEater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');s
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

